#lobby {
  margin: 20px 100px 10px 100px;
  background: #FFF;
  border-radius: 5px;
  text-align: left;
}
#lobby .title {
  padding: 20px;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  background: #DDD;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
#lobby .title a {
  color: rgb(38, 154, 5);
  display: block;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  padding: 23px 10px;
  margin: -20px 0px;
  float: right;
}
#lobby .title a:hover {
  background: #AAA;
  color: #FFF;
}
#lobby .heading {
  font-size: 18px;
  color: #666;
  padding: 20px 20px 0px 20px;
}
#lobby .open-games {
  padding: 20px;
}
.LobbyGame .LobbyGameTitle {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  background: #CCC;
  text-align: center;
  font-size: 13px;
  float: left;
  border: 1px solid #AAA;
}
.LobbyGame .LobbyGameTitle .label {
  margin-top: 8px;
}
.LobbyGame .LobbyGameTitle .number {
  font-weight: bold;
  font-size: 20px;
}
.LobbyGame .LobbyGamePlayers {
  float: left;
}
.LobbyGame .LobbyGamePlayers .LobbyGamePlayer {
  float: left;
  height: 50px;
  width: 150px;
  margin-left: 10px;
  background: #DDD url(../images/units/knight-front.jpg) left top no-repeat;
  border-radius: 5px;
  border: 1px solid #AAA;
}
.LobbyGame .LobbyGamePlayers .LobbyGamePlayer .username {
  margin-left: 50px;
  padding: 8px 0px 2px 10px;
  font-size: 13px;
}
.LobbyGame .LobbyGamePlayers .LobbyGamePlayer .username a {
  text-decoration: none;
  color: rgb(38, 154, 5);
  font-weight: bold;
}
.LobbyGame .LobbyGamePlayers .LobbyGamePlayer .rating {
  margin-left: 50px;
  padding: 2px 0px 8px 10px;
  font-size: 13px;
}
.LobbyGame .LobbyGameJoin {
  float: left;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #AAA;
  overflow: hidden;
}
.LobbyGame .LobbyGameJoin a {
  text-decoration: none;
  color: #666;
  font-size: 50px;
  display: block;
  padding: 0px 0px 0px 10px;
  margin-top: -2px;
  background: #DDD;
  border-radius: 5px;
}
.LobbyGame .LobbyGameJoin a:hover {
  background: #CCC;
}